body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: rgb(247, 241, 241);
}


.navbar {
    width: 100%;
    height: 50px;

}

.nav-navbar {
  float: left;
  justify-content: left;
  display: flex;
  margin: 18px 0 0 150px;
  padding-left: 10px;
}

.navbar-menu {
    float: right;
    justify-content: right;
    margin: 14px 150px 0 150px;
}

.nav-btn {
    background: rgb(66, 110, 204);
    color: white;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button {
    border: none;
}

input {
    border: none;
}

.container {
    position: relative;
    text-align: center;
}

.container-txt {
    position: absolute;
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
}

.input-container {
    width: 350px;
    height: 35px;
    font-family: helvetica, sans-serif;
    border-radius: 3px;
    padding: 0 5px;
}

.container-btn {
    width: 100px;
    height: 35px;
    font-family: helvetica, sans-serif;
    background:  rgb(66, 110, 204);
    color: white;
    border-color: none;
    cursor: pointer;
    border-radius: 3px;
}

.container-2 {
    width: auto;
    height: 200px;
    padding: 50px 100px;
    justify-content: center;
}

.container-3 {
    width: auto;
    height: 300px;
    padding: 50px 100px;
    justify-content: center;
}

.container-4 {
    width: auto;
    height: 320px;
    padding: 50px 100px;
    justify-content: center;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    padding-top: 30px;
    text-align: center;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    text-align: center;
}

.pre-icon-1 {
    width: 24%;
    text-align: center;
}

.pre-icon-2 {
    width: 26%;
    text-align: center;
}

.pre-icon-3 {
    width: 34%;
    text-align: center;
}

.icon-1 {
    width: 50px;
    height: 50px;
}

.icon-2 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.txt-section {
    margin: 0;
    padding-top: 5px;
    font-weight: 700;
    font-size: 16px;
}

.txt-section-1 {
    margin: 0;
    padding-top: 5px;
    font-weight: 700;
    font-size: 16px;
}

.txt-container-1 {
    margin-bottom: 0;
    font-size: 15px;
    color: gray;
}

.section-3 {
    background: white;
}

.section-container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 358px;
}

.content1 {
    width: 50%;
    padding: 55px;
}

.p1 {
    margin: 0;
    padding-top: 57px;
    font-size: 26px;
    font-weight: 600;
}

.p2 {
    margin-bottom: 0;
    font-size: 18px;
    width: 87%;
    line-height: 1.4;
}

.content-2 {
    width: 50%;

}

.pre-txtsection {
    font-weight: 600;
    font-size: 26px;
    justify-content: center;
    text-align: center;

}

.footer {
    padding: 50px 100px;
}



.txt-footer {
    display: flex;
    float: left;
    flex-direction: row;
    color: rgb(66, 110, 204);
    margin-bottom: 5px;
}

.pre-icon-footer {
    display: flex;
    float: right;
    padding-top: 15px;
}

.copyright {
    padding-left: 15px;
    color: grey;
}


.footer-link {
    list-style: none;
    color: rgb(66, 110, 204);
    padding: 0;
    
}

a {
    color: rgb(66, 110, 204);
}

.footer-link > li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 16px;
}

.footer-bar {
    height: 75px;
}

.footer-link > li > a {
    text-decoration: none;
    display: inline-block;
}

.footer-link > li:after {
    content: '.';
    position: absolute;
    right: 0;
    top: 0;
}

.p11 {
    color: white;
}

.footer-link > li:last-child:after {
    display: none;
}

.input-container:hover {
    border: none;
}
.nav-btn:hover {
    background-color: rgb(147, 177, 241);
}

.container-btn:hover {
    background-color: rgb(147, 177, 241);
}

.input-container:active {
    border-color: none;
}